{{!-- views/home.handlebars --}}
{{#each posts}}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{content}}</p>
        <p class="card-text"><small class="text-muted">Posted by {{user.username}} on {{format_date createdAt}}</small></p>
    </div>
</div>
{{/each}}
