<form class="login-form">
  <label for="email-login">Email:</label>
  <input type="email" id="email-login" name="email-login">
  <label for="password-login">Password:</label>
  <input type="password" id="password-login" name="password-login">
  <button type="submit">Login</button>
</form>
