{{> navigation}}
<form class="signup-form">
  <label for="name-signup">Username:</label>
  <input type="text" id="name-signup" name="name-signup">
  <label for="email-signup">Email:</label>
  <input type="email" id="email-signup" name="email-signup">
  <label for="password-signup">Password:</label>
  <input type="password" id="password-signup" name="password-signup">
  <button type="submit">Sign Up</button>
</form>
